extends ./template/template

block head
    title Тема письма
    link(rel='stylesheet' href='css/main.css')

block content
    h1.title Тест сборки
    p.paragraph Привет мир!!! Это тест Интересно почему ничего никогда с первого раза не начинает работать???